<div class="evaluation-container my-3 mx-4" *ngIf="currentUser$ | async as user">
  <button class="btn button-main mb-2" (click)="onClickButton()" *ngIf="user.isTeacher">
    Create new evaluation for student
  </button>
  <table
    class="table table-borderless table-striped table-hover"
    *ngIf="evaluationItems.length > 0"
  >
    <thead>
      <tr>
        <th scope="col "><span class="col-name-text-size">Teacher</span></th>
        <th scope="col"><span class="col-name-text-size">Stream</span></th>
        <th scope="col">
          <span class="col-name-text-size">Overall grade</span>
        </th>
        <th scope="col"><span class="col-name-text-size">Date</span></th>
      </tr>
    </thead>
    <tbody class="table-clickable">
      <tr *ngFor="let evaluationItem of evaluationItems" (click)="onClickRow(evaluationItem.id)">
        <td>{{ evaluationItem.fullName }}</td>
        <td>{{ evaluationItem.stream }}</td>
        <td>{{ evaluationItem.overallGrade }}</td>
        <td>{{ evaluationItem.updatedAt | date: "MMM dd, y, hh:mm" }}</td>
      </tr>
    </tbody>
  </table>
</div>
