<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card my-5">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
        <alert></alert>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
              </span>
            </div>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" placeholder="username" />
            <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
              <div *ngIf="formControls.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi bi-key-fill"></i>
              </span>
            </div>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" placeholder="password" />
            <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
              <div *ngIf="formControls.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn button-main float-right">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
            <a href="#" class="btn btn-link float-right text-primary"><span class="text-muted">
                Forgot your
              </span>
              password
              <span class="text-muted">?</span>
            </a>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          Don't have an account? <a class="ml-2 text-primary" routerLink="/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
