<div class="pb-3">
  <div class="pt-3">
    <h4 class="float-left mt-4">Overall evaluations of students</h4>
    <div class="dropdown-section float-right">
      <label>Sort by best overall grade of:</label>
      <select
        (change)="onChange($event.target)"
        class="custom-select col-6 border-primary border-3"
      >
        <option disabled>Choose your option</option>
        <option *ngFor="let stream of streams">{{ stream }}</option>
      </select>
    </div>
  </div>
  <div class="mx-3">
    <table class="table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"><span class="col-name-text-size">Student</span></th>
          <th *ngFor="let stream of streams" scope="col">
            <span class="col-name-text-size">{{ stream }}</span>
          </th>
        </tr>
      </thead>
      <tbody class="table-clickable">
        <tr
          *ngFor="let overviewItem of overviewItems$ | async"
          (click)="goToStudentDropdown(overviewItem.id)"
        >
          <td>{{ overviewItem.fullStudentName }}</td>
          <td>{{ overviewItem.beOverallGrade }}</td>
          <td>{{ overviewItem.feOverallGrade }}</td>
          <td>{{ overviewItem.uxOverallGrade }}</td>
          <td>{{ overviewItem.qaOverallGrade }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-spinner-loading [isLoading$]="isLoading$"></app-spinner-loading>
