<h4 *ngIf="teacher && !tableEvaluations.length" class="pt-3 ml-3">
  Teaher
  <strong class="name-color">{{ teacher.fullName }}</strong> has not evaluated any student.
</h4>
<ng-container *ngIf="tableEvaluations.length">
  <h4 *ngIf="teacher" class="pt-3 ml-3">
    Evaluations made by
    <strong class="name-color">{{ teacher.fullName }}</strong>
  </h4>
  <div class="evaluation-container mx-4 pb-2">
    <table class="table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th scope="col "><span class="col-name-text-size">Student</span></th>
          <th scope="col "><span class="col-name-text-size">Stream</span></th>
          <th scope="col ">
            <span class="col-name-text-size">Overall grade</span>
          </th>
          <th scope="col "><span class="col-name-text-size">Date</span></th>
        </tr>
      </thead>
      <tbody class="table-clickable">
        <tr
          *ngFor="let evaluationItem of tableEvaluations"
          (click)="onClick(evaluationItem.id)"
        >
          <td>{{ evaluationItem.fullName }}</td>
          <td>{{ evaluationItem.stream }}</td>
          <td>{{ evaluationItem.overallGrade }}</td>
          <td>{{ evaluationItem.updatedAt | date: "MMM dd, y, hh:mm" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<app-spinner-loading [isLoading$]="isLoading$"></app-spinner-loading>
