<div class="card my-2">

  <span class="card-header d-flex">
    <h5 class="mr-auto my-auto">{{ student.name }} {{ student.surname }}</h5>
    <button class="text-muted mr-3" [ngClass]="(student.evaluationIdBE)?'btn btn-success':'btn button-main'">
      <b><a class="text-dark" *ngIf="student.evaluationIdBE"
          [routerLink]="['/evaluation', student.evaluationIdBE]">BE</a><a class="text-dark"
          *ngIf="!student.evaluationIdBE" [routerLink]="['/evaluation/new', student.id]">BE</a></b></button>
    <button class="text-muted mr-3" [ngClass]="(student.evaluationIdFE)?'btn btn-success':'btn button-main'">
      <b><a class="text-dark" *ngIf="student.evaluationIdFE"
          [routerLink]="['/evaluation', student.evaluationIdFE]">FE</a><a class="text-dark"
          *ngIf="!student.evaluationIdFE" [routerLink]="['/evaluation/new', student.id]">FE</a></b></button>
    <button class="text-muted mr-3" [ngClass]="(student.evaluationIdQA)?'btn btn-success':'btn button-main'">
      <b><a class="text-dark" *ngIf="student.evaluationIdQA"
          [routerLink]="['/evaluation', student.evaluationIdQA]">QA</a><a class="text-dark"
          *ngIf="!student.evaluationIdQA" [routerLink]="['/evaluation/new', student.id]">QA</a></b></button>
    <button class="text-muted" [ngClass]="(student.evaluationIdUX)?'btn btn-success':'btn button-main'">
      <b><a class="text-dark" *ngIf="student.evaluationIdUX"
          [routerLink]="['/evaluation', student.evaluationIdUX]">UX</a><a class="text-dark"
          *ngIf="!student.evaluationIdUX" [routerLink]="['/evaluation/new', student.id]">UX</a></b></button>
  </span>
  <div class="card-body">
    <p class="card-text">
      Evaluation amount: <span>{{ student.evaluationAmount }}</span>
      <span *ngIf="student.evaluationAmount"><a [routerLink]="['/evaluate', student.id]"
          class="card-link float-right">View evaluations</a>
      </span>
      <span *ngIf="!student.evaluationAmount"><a [routerLink]="['/evaluate', student.id]"
          class="card-link float-right">There is no Evaluation</a>
      </span>
    </p>
    <span>
      <a (click)="onRemoveClick()" class="card-link float-right text-danger remove-link">Remove student</a>
    </span>
  </div>
</div>