<div class="card my-2">
  <span class="card-header d-flex">
    <h5 class="mr-auto my-auto">{{ student.name }} {{ student.surname }}
    </h5>
    <a class=" btn btn-success text-dark mr-3" *ngIf="student.evaluationIdBE"
      [routerLink]="['/evaluation', student.evaluationIdBE]"><b>BE</b></a>
    <a class="btn button-main text-dark mr-3" *ngIf="!student.evaluationIdBE"
      [routerLink]="['/evaluation/new', student.id]"><b>BE</b>
    </a>
    <a class=" btn btn-success text-dark mr-3" *ngIf="student.evaluationIdFE"
      [routerLink]="['/evaluation', student.evaluationIdFE]"><b>FE</b></a>
    <a class="btn button-main text-dark mr-3" *ngIf="!student.evaluationIdFE"
      [routerLink]="['/evaluation/new', student.id]"><b>FE</b>
    </a>
    <a class=" btn btn-success text-dark mr-3" *ngIf="student.evaluationIdQA"
      [routerLink]="['/evaluation', student.evaluationIdQA]"><b>QA</b></a>
    <a class="btn button-main text-dark mr-3" *ngIf="!student.evaluationIdQA"
      [routerLink]="['/evaluation/new', student.id]"><b>QA</b>
    </a>
    <a class=" btn btn-success text-dark" *ngIf="student.evaluationIdUX"
      [routerLink]="['/evaluation', student.evaluationIdUX]"><b>UX</b></a>
    <a class="btn button-main text-dark" *ngIf="!student.evaluationIdUX"
      [routerLink]="['/evaluation/new', student.id]"><b>UX</b>
    </a>
  </span>
  <div class="card-body">
    <p class="card-text">
      Evaluation amount: <span>{{ student.evaluationAmount }}</span>
      <span *ngIf="student.evaluationAmount"><a [routerLink]="['/evaluate', student.id]"
          class="card-link float-right">View evaluations</a>
      </span>
      <span *ngIf="!student.evaluationAmount"><a [routerLink]="['/evaluate', student.id]"
          class="card-link float-right">There is no Evaluation</a>
      </span>
    </p>
    <span>
      <a (click)="onRemoveClick()" class="card-link float-right text-danger remove-link">Remove student</a>
    </span>
  </div>
</div>