<div class="container my-5">
  <div class="d-flex justify-content-center h-100 my-5">
    <div class="card my-5">
      <h4 class="card-header">Register</h4>
      <div class="card-body">
        <alert></alert>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi bi-pencil-fill"></i>
              </span>
            </div>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }" placeholder="First Name" />
            <div *ngIf="submitted && formControls.name.errors" class="invalid-feedback">
              <div *ngIf="formControls.name.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi bi-pencil-fill"></i>
              </span>
            </div>
            <input type="text" formControlName="surname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formControls.surname.errors }" placeholder="Last Name" />
            <div *ngIf="submitted && formControls.surname.errors" class="invalid-feedback">
              <div *ngIf="formControls.surname.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
              </span>
            </div>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" placeholder="Username" />
            <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
              <div *ngIf="formControls.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="bi bi-key-fill"></i>
              </span>
            </div>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"
              placeholder="Password" />
            <div *ngIf=" submitted && formControls.password.errors"
              class="invalid-feedback">
              <div *ngIf="formControls.password.errors.required">Password is required</div>
              <div *ngIf="formControls.password.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="formControls.password.errors.required">Password must contain alphanumeric values</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-warning float-right">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register
            </button>
            <a routerLink="/" class="btn btn-link float-right">Cancel</a>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          Already have an account? <a class="ml-2" routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
